

.calculator {

  width: 20rem;
  

  max-inline-size: 22rem;
  border-radius: 10px; /* Round the edges */
  overflow: hidden; /* don't let other elements go outside the calculator */
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12); /* Give the calculator some depth off the page */

}
.calculator__output {
  font-size: 2rem;
  text-align: end; /* This is the Logical Property for text-align: right; and has very good browser support. */
  background: hsl(202,100%,100%);
  color: hsl(0, 91%, 5%);
  padding-block-start: 2rem;
  padding-block-end: 0.25rem;
  padding-inline-end: 0.75rem;
  height: 3rem ;
}
.calculator__keys {
display: grid;
grid-template-columns: repeat(4,1fr);
}
.calculator_key {
  font-size: 1rem;
  padding-block-start: 1rem;
  padding-block-end: 1rem;
  padding-inline-end: 1rem;

}
.calculator__key--operator {
}
.calculator__key--enter {
  grid-column: 4/5;
  grid-row: 2 / span 4;
}